.banner-section{
    position: relative;
    color: #000;
    &__tag{
        position: absolute;
        left: 8%;
        top: 20%;
        @include breakpoint(ipad-min and large-desktop-max) {                            
            top: 5%;
        }
        &__main-heading{
            font-size: 3.5rem;
            font-weight: 100;
            @include breakpoint(ipad-min and large-desktop-max) {                            
                font-size: 2rem;
            }
            @include breakpoint(mobile-max) {
                font-size: 1.2rem;
            }
        }
        &__subheading{
            font-size: 8rem;
            width: 60%;
            @include breakpoint(ipad-min and large-desktop-max) {                            
                font-size: 4rem;
            }
            @include breakpoint(mobile-max) {
                font-size: 1.6rem;
                width: 80%;
            }
        }
        &__banner-btn{
            font-size: 2.2rem;
            @include breakpoint(ipad-min and large-desktop-max) {                            
                font-size: 2rem;
            }
            @include breakpoint(mobile-max) {
                font-size: 1.2rem;
            }
        }
    }
    

}
.carousel-indicators{
    left: 60%;   
    bottom: 5%; 
}

.carousel-indicators li{
    background-color: #000;
}