.client-section {
    justify-content: space-between;
    @include breakpoint(large-desktop-max) {
        justify-content: unset;
    }
    @include breakpoint(mobile-max) {
        display: block !important;
    }
    &__title {
        color: $white-color;
        background-color: $client-bgColor;
        font-size: 4.4rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1.5rem;
        @include breakpoint(ipad-pro) {
            font-size: 2.4rem;
            width: 18%;
            padding: 1rem;
        }
        @include breakpoint(ipad-max) {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include breakpoint(mobile-max) {
            font-size: 3rem;
            width: 100%;
        }
    }
    &__images {
        display: flex;
        align-items: center;
        @include breakpoint(ipad-max) {
            display: block !important;
        }
        @include breakpoint(mobile-max) {
            display: block !important;
            text-align: center;
        }
        img {
            padding: 0 4rem;
            width: 100%;
            @include breakpoint(large-desktop-max) {
                padding: 0 1rem;
            }
            @include breakpoint(ipad-pro) {
                padding: 0 0.4rem;
            }
            @include breakpoint(ipad-max) {
                width: unset;
                padding: 2rem 2rem;
            }
            @include breakpoint(mobile-max) {
                padding: 2rem 2rem;
                margin-bottom: 2rem;
                border: 1px dashed $black-color;
                width: 300px;
                height: auto;
            }
        }
    }
}
