.dot-border {
    border-right: 1px dashed #000;
    @include breakpoint(mobile-max) {
        border-right: none;
        border-bottom: 1px dotted $black-color;
        margin-bottom: 2rem;
    }
}
footer {
    color: $black-color;
    font-size: 1.8rem;
    .footer-wrapper {
        background-color: $banner-bgColor;
        .footer-section {
            padding-top: 35rem;
            @include breakpoint(mobile-max) {
                display: block !important;
                text-align: center;
                padding-top: 29rem;
            }
            h2 {
                font-size: 2.6rem;
                font-weight: 600;
            }
            &__address {
                &__company {
                    padding: 5rem 0;
                    @include breakpoint(mobile-max) {
                        padding: 2rem 0;
                    }
                }
            }
            &__company {
                h2 {
                    font-size: 3rem;
                    font-weight: 100;
                }
            }
            &__other {
                h2 {
                    font-size: 3rem;
                    font-weight: 100;
                }
            }
        }
    }
    .copyright-section {
        padding: 2rem 0;
        text-align: center;
    }
    ul {
        li {
            padding: 2rem 0;
            a {
                padding: 0 1rem;
                color: $black-color;
                &:hover {
                    color: #b3a9a9;
                }
                span {
                    &:before {
                        color: $black-color !important;
                    }
                }
            }
        }
    }
}