.industries-section{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(226, 231, 234, 0.73)), url(../images/industries.png);
    padding: 6rem;
    color: $black-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(mobile-max) {
        padding: 2rem;
    }
    &__list{
        padding: 5rem;
        margin: 0 6rem;
        background-color: $white-color;
        @include breakpoint(ipad-max) {
            margin: 0 0rem;
        }
        ul{
            flex-wrap: wrap;
            text-align: center;
            li{
                flex: 1 0 21%;
                padding: 5rem;
                border-right: 1px dashed #000;
                border-bottom: 1px dashed #000;
                @include breakpoint(mobile-max) {
                    flex: 1 0 100%;
                    border-right: none;
                    padding: 2rem;
                }
                .img-tag{
                    margin-top: 5rem;
                    font-size: 2.2rem;
                    font-weight: 100;
                    @include breakpoint(mobile-max) {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}