ul{
    li{
        a{
            padding: 0 2rem;
            color: #fff;
            &:hover{
                color: $banner-bgColor;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}