
//Icomoon section
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-linkedin: "\e902";
$icon-phone: "\e903";
$icon-pinterest: "\e904";
$icon-twitter: "\e905";
$icon-whatsapp: "\e906";