$header-bgColor: #030303;
$banner-bgColor: #E2E7EA;
$logo-color: #FD1A1A;
$black-color: #000;
$white-color: #fff;
$client-bgColor: #383838;
$industries-color: #EA3A3A;

//font-family
$poppins: 'Poppins';

